{% extends "main/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'accounts.css' %}" >



<main class="container my-4">
    <h3 class="my-4 border-bottom pb-1">Edit Profile</h3>
        <div class="row">
            <div class="col-lg-4 pb-5">
                <!-- Account Sidebar-->
                {% include "accounts/sidebar.html" %}
         <!-- Account Sidebar-->

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                    {{ form.as_table }}
                    {{ profile_form.as_table }}
                    </table>
                    <button type="submit">Submit</button>
                </form>
                <br>

        </div>
</main>

{% endblock %}