{% extends 'main/base.html' %}

{% block head_title %}Password changed successfully{% endblock head_title %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'accounts.css' %}" >
 <style>
  .container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 60%;
  max-height:60%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}
  </style>
<br>
<div class="container">
  <div class="image">
        <img src="https://cdn-icons-png.flaticon.com/512/3388/3388621.png">
      </div>
  <div class="row">
    <div class="col-12">
      <h2 class="my-5" style="color:#46ba53;">Password Changed Successfully</h2>
      <p>
        Your password has been changed successfully. You may now proceed to
        <a href="{% url 'accounts:login' %}">Login.</a>
      </p>
    </div>
  </div>
</div>
<br>
{% endblock content %}